name: Pylint

on: [push]

jobs:
  pylint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v4
      with:
        python-version: "3.9"
    - run: |
        python -m pip install --upgrade pip
        pip install pylint
    - run: |
        pylint $(git ls-files '*.py') --exit-zero
